.section {
  background-image: url("../../assets/images/sign/dectop-bg-sign-up.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper {
  max-width: 384px;
  padding: 148px 0 266px 0;
  margin: 0 216px 0 auto;
}

.section {
  background-image: url("../../assets/images/sign/mobile-bg-sign-up.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  min-height: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.wrapper {
  max-width: 280px;
  margin: 0 auto;
  padding: 24px 0 204px 0;
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .section {
    background-image: url("../../assets/images/sign/mobile-bg-sign-up@2x.png");
  }
}

@media only screen and (min-width: 768px) {
  .section {
    background-image: url("../../assets/images/sign/tablet-bg-sign-up.png");
    background-size: cover;
    max-width: 768px;
  }
  .wrapper {
    max-width: 336px;
    padding: 40px 0 172px 0;
    margin: 0 auto 0 32px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .section {
    background-image: url("../../assets/images/sign/tablet-bg-sign-up@2x.png");
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    background-image: url("../../assets/images/sign/dectop-bg-sign-up.png");
    background-position: center top;
    max-width: 1440px;
  }
  .wrapper {
    max-width: 384px;
    padding: 148px 0 196px 0;
    margin: 0 216px 0 auto;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .section {
    background-image: url("../../assets/images/sign/dectop-bg-sign-up@2x.png");
  }
}
